div {

}

#page {
 width:100%;
 min-width:750px;

}

#header {

}

#navigation {

}

#content {
 float:left;
 width:100%;
 background-color:#e5b0b0;
 border-radius:10px;
 padding:5px;
}

#sidebar {
 width: 100%;
 background-color:#e5b0b0;
 border-radius:10px;
 padding:5px;
}

.side-item {
 width:100%;
}

#footer {
 clear:both;
}
